.calculator {
  margin: 0 auto;
}

.calculator-screen {
  background-color: black;
  color: white;
}

.calculator-content {
  background: black;
  width: 23rem;
  height: auto;
  margin: 4rem auto;
}

button {
  height: 5.5rem;
  border: none;
  opacity: 0.8;
  font-size: 24px;
}

button:hover {
  opacity: 1;
  transition: 0.3s;
}

.display {
  height: 5.5rem;
  color: white;
  align-items: center;
  font-size: 30px;
  position: relative;
}

span {
  position: absolute;
  right: 0;
  padding-right: 0.7rem;
}

.btn-orange {
  width: 24.5%;
  opacity: 0.85;
  color: white;
  background-color: rgb(212, 148, 28);
}

.btn-grey {
  width:24.5%;
  opacity: 0.8;
  color: black;
  background-color: #efefef;
}