.calculator {
  margin: 0 auto;
}


.calculator-screen {
  background-color: black;
  color: white;
}

.calculator-content {
  background: black;
  width: 23rem;
  height: auto;
  margin: 4rem auto;
}

button {
  height: 5.5rem;
  border: none;
  opacity: 0.8;
  font-size: 24px;
}

::placeholder {
  color: white;
  opacity: 1;
  /* Firefox */
}

:-ms-input-placeholder {
  /* Internet Explorer 10-11 */
  color: white;
}

::-ms-input-placeholder {
  /* Microsoft Edge */
  color: white;
}

button:hover {
  opacity: 1;
  transition: 0.3s;
}

.calculator-display {
  height: 5.5rem;
  color: white;
  font-size: 30px;
  position: relative;
  text-align: right;
  border-color: black;
  right: 0;
  padding-right: 0.7rem;
  border: 0;
}

input[type=text] {
  width: 100%;
  padding: 3px 5px;
  box-sizing: border-box;
  text-align: right;
}

.btn-orange {
  width: 24.5%;
  opacity: 0.85;
  color: white;
  background-color: rgb(212, 148, 28);
}

.btn-grey {
  width: 24.5%;
  opacity: 0.8;
  color: black;
  background-color: #efefef;
}